*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'open_sanslight';
    font-size: 1em;
}

/*GENERAL*/

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container-90{
    width: 90%;
    margin: 0 auto;
}

.container-60{
    width: 60%;
    margin: 0 auto
}

.lang-menu{
    display: none;
}

button:focus{
    outline: none;
}
/*HEADER*/

.header-desktop{
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 5;
}

.hdr-dsktp-uno{
}

.header-desktop #logo{
    width: 20%;
    float: left;
    overflow: hidden;
}

.header-desktop #logo img{
    width: 95%;
    margin: 0 auto;
}

.header-desktop .lang{
    width: 80%;
    float: left;
    text-align: right;
    height: 50px;
    padding: 5px 0;
}

.header-desktop .lang-btn{
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 5px;
    width: 100px;
    border: 1px solid white;
    cursor: pointer;
}

.header-desktop nav{
    float: left;
    margin-left: 20%;
    width: 60%;
}

.header-desktop .main-nav{
    width: 100%;
    float: right;
    top: 0;
    height: 80px;
    padding: 25px 0;
}

.header-desktop .main-nav li{
    float: left;
    padding: 15px 20px;
    cursor: pointer;
}

.header-desktop .main-nav #nav-delivery{
    padding: 5px 10px;
}

.header-desktop .main-nav li a{
    color: white;
    font-family: 'open_sansregular';
}

.header-desktop .nav-sel{
    border-bottom: 3px solid #ACD17A;
}

.header-desktop .nav-op:hover{
    border-bottom: 3px solid #ACD17A;
}

.header-desktop #nav-delivery{
    border: 1px solid #ACD17A;
}

.header-desktop #nav-delivery:hover{
    background-color: #ACD17A;
}

/*main*/
.main{
    height: 700px;
    padding: 15% 0;
}

.mn-home{
    background: url(../img/header-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,#000000,rgba(0,0,0,0.2));
    opacity: 0.8;
    z-index: 2;
}

.main .container-60{
    position: absolute;
    z-index: 5;
    width: 60%;
    margin: 0 20% 0 20%;
}

.main-title{
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: 'open_sansextrabold';
    text-transform: uppercase;
    padding: 5% 0;
}

.main-par{
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'open_sansregular';
    padding: 20px 0;
}

.main-down{
    z-index: 5;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: white;
    font-size: 2em;
}

/*content*/
.content-1{
    padding: 50px 0;
}
