*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

/*webkit searchbox placeholder color*/
*::-webkit-input-placeholder {
    color: #c1bb91;
}*:-moz-placeholder {
    /* FF 4-18 */
    color: #c1bb91;
}*::-moz-placeholder {
    /* FF 19+ */
    color: #c1bb91;
}*:-ms-input-placeholder {
    /* IE 10+ */
    color: #c1bb91;
}

/*GENERAL*/

body{
    font-family: 'open_sanslight';
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container-90{
    width: 90%;
    margin: 0 auto;
    overflow: visible;
}

.container-60{
    width: 60%;
    margin: 0 auto
}

button:focus{
    outline: none;
}

button:hover{
    transition: 0.4s;
}
/*HEADER*/

.header-desktop{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 5;
    transition: 0.5s;
}

.header-desktop #logo{
    width: 20%;
    float: left;
    overflow: hidden;
}

.header-desktop #logo img{
    width: 80%;
    margin: 0 auto;
}

.header-desktop .lang{
    width: 80%;
    float: left;
    text-align: right;
    height: 40px;
    padding: 5px 0;
    position: relative;
    font-size: 0.8em;
}

.header-desktop .lang-btn{
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 5px;
    width: 100px;
    border: 1px solid white;
    cursor: pointer;
}

.header-desktop #lang-show{
    width: 75%;
    float: left;
}

#lang-show a{
    color: white;
}

.header-desktop nav{
    width: 80%;
    float: left;
}

/*.header-desktop .main-nav{
    width: 100%;
    height: 80px;
    padding: 25px 0;
}*/

.header-desktop .main-nav li{
    float: right;
    padding: 15px;
    cursor: pointer;
    border-bottom: 3px solid rgba(0,0,0,0);
}

.header-desktop nav .main-nav li:first-child{
    padding-right: 0;
}

.header-desktop .main-nav #nav-delivery{
    padding: 5px 10px;
}

.header-desktop .main-nav li a{
    padding: 10px 5px;
    color: rgba(255,255,255,0.8);
    font-family: 'open_sansregular';
}

.header-desktop .main-nav li:hover a,
.header-desktop .main-nav .nav-sel a,
.header-desktop .main-nav .deliv-sel a{
    color: white;
}

.header-desktop .main-nav .nav-sel,
.header-desktop .main-nav .nav-op:hover{
    border-bottom: 3px solid #ACD17A;
}

.header-desktop #nav-delivery{
    border: 1px solid #ACD17A;
}

.header-desktop #nav-delivery:hover,
.header-desktop .deliv-sel #nav-delivery{
    background-color: #ACD17A;
}

.header-desktop .deliv-sel #nav-delivery:hover{
    background-color: rgba(0,0,0,0);
    color: white;
}

.sticky-header .deliv-sel #nav-delivery{
    background-color: white;
    color: #ACD17A;
}

/*sticky header*/
.sticky-header{
    background-color: rgb(165, 188, 83);
    transition: 0.5s;
}

.sticky-header .lang{
    display: none;
}

.sticky-header #logo img{
    width: 60%;
}

.sticky-header nav{
    position: absolute;
    width: 80%;
    right: 5%;
    bottom: 0;
}

.sticky-header .main-nav .nav-sel,
.sticky-header .main-nav .nav-op:hover{
    border-bottom: 3px solid white;
}

.sticky-header #nav-delivery{
    border: 1px solid white;
}

.sticky-header #nav-delivery:hover{
    background-color: white;
    color: #ACD17A;
}


/*lang btn*/
.lang-menu{
    width: 100px;
    top: 33px;
    right: 0;
    position: absolute;
    background-color: rgb(165, 188, 83);
    border: 1px solid white;
    border-top: 0;
    text-align: center;
}

.lang-menu li a{
    color: white;
}

.lang-menu li{
    padding: 5px 0;
}

.lang-menu li:hover{
    background-color: white;
}

.lang-menu li:hover a{
    color: black;
}

.header-desktop .lang-sel{
    background-color: #C2B59B;
    color: white;
}

#lang-down{
    transition: 0.5s;
    width: 25%;
    float: left;
    padding: 3px;
}

/*lang action*/
.lang-menu-action {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateX(180deg);
}

.header-desktop .lang-active{
    border-bottom: 0;
}

/*main*/
.main{
    height: 650px;
    padding: 150px 0;
    position: relative;
}

/*main-headers*/
.mn-home{
    background: url(../img/header-home-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.mn-menu{
    background: url(../img/header-menu-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.mn-vinos{
    background: url(../img/header-vinos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.mn-quienes{
    background: url(../img/header-quienes-somos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.mn-reserva{
    background: url(../img/header-reserva-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.mn-delivery{
    background: url(../img/header-delivery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,#000000,rgba(0,0,0,0.2));
    opacity: 0.8;
    z-index: 2;
}

.main .container-60{
    position: absolute;
    z-index: 5;
    width: 60%;
    margin: 0 20% 0 20%;
}

.main-title{
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: 'open_sansextrabold';
    text-transform: uppercase;
    padding: 5% 0;
}

.main-par{
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'open_sansregular';
    padding: 20px 0;
}

.main-down{
    z-index: 5;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: white;
    font-size: 2em;
}

.main-down a{
    color: white;
    font-weight: lighter;
}

/*content*/

#content{
    position: relative;
}

.contenido{
    padding: 70px 0 80px 0;
}

.content-1, .subfooter{
    background-color: rgba(222, 247, 186, 0.8);
}

.content-2{
    background-color: #E9EDD1;
}

.content-title{
    text-align: center;
    font-family: 'open_sansbold';
    font-size: 2em;
    text-transform: uppercase;
    color: #231F20;
    padding: 20px 0;
}

.horario-table{
    overflow: hidden;
    background-color: #C2B59B;
    font-size: 1em;
    position: relative;
    color: #231F20;
    margin: 10px 0 20px 0;
}

.horario-table .horario-48{
    width: 48%;
    float: left;
    padding: 15px 20px;
}

.horario-table .horario-4{
    width: 4%;
    float: left;
    padding: 17px 0;
    text-align: center;
    font-size: 1.2em;
}

.horario-table .horario-48:last-child{
    text-align: right;
}

/*contenido 2*/

.contenido .g-mapa{
    width: 100%;
    height: 400px;
    background-color: black;
}

.contenido .direccion{
    background-color: #ACD17A;
    margin: 20px auto 0 auto;
    padding: 15px 20px;
    overflow: hidden;
    width: 60%;
    
}

.contenido .direccion-2{
    width: 2%;
    float: left;
    margin-right: 2%;
    padding: 3px 0;
    text-align: center;
}

.contenido .direccion-92{
    width: 92%;
    float: left;
    margin-right: 4%;
    text-align: center;
}

/*cont-menu*/
.cont-menu,
.cont-vinos{
    padding: 0 0 40px 0;
    overflow: hidden;
    background-color: #E9EDD1;
}

.cont-menu .menu-categ,
.cont-vinos .vinos-categ{
    width: 100%;
    position: relative;
    font-family: 'open_sansregular';
    font-size: 1.1em;
    overflow: hidden;
}

.cont-menu .menu-categ .categ-op{
    width: 20%;
    float: left;
    padding: 20px 10px;
    background-color: rgba(172, 209, 122, 0.5);
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid rgb(222, 247, 186);
    cursor: pointer;
}

.cont-menu .menu-categ .categ-op:last-child{
    border-right: 0;
}

.cont-menu .menu-categ .categ-sel,
.cont-menu .menu-categ .categ-op:hover{
    background-color: rgba(172, 209, 122, 1);
}

#content .menu-platos{
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.menu-platos .plato{
    width: 49%;
    float: left;
    overflow: hidden;
    margin-right: 2%;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.menu-platos .plato.no-mr,
.vinos .vino.no-mr,
.equipo .miembro.no-mr,
.equipo .miembro-rs .no-mr{
    margin-right: 0;
}

.menu-platos .plato img,
.vinos .vino img,
.equipo .miembro img{
    width: 100%;
}

.menu-platos .plato figcaption{
    position: absolute;
    width: 100%;
    bottom: 20px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    color: #231F20;
}

.plato figcaption .plato-title{
    font-family: 'open_sansbold';
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px 0;
}

.plato figcaption .plato-des,
.plato figcaption .plato-prec{
    display: none;
    width: 60%;
    margin: 25px 20%;
}

.plato figcaption .plato-prec{
    background-color: #ACD17A;
    color: white;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    padding: 10px 0;
    width: 40%;
    clear: both;
}

.plato figcaption .precio{
    font-family: 'open_sansextrabold';
    font-size: 1.4em;
}

.plato:hover figcaption{
    height: 100%;
    transition: 0.5s;
    bottom: 5px;
    padding: 10% 0;
}

.plato:hover figcaption .plato-des,
.plato:hover figcaption .plato-prec{
    display: inline-block;
}

.ver-mas{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.ver-mas .ver-mas-btn{
    background-color: rgba(0,0,0,0);
    border: 2px solid #9B8579;
    color: #9B8579;
    font-family: 'open_sansbold';
    font-size: 1.4em;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.ver-mas .ver-mas-btn:hover{
    background-color: #9B8579;
    color: #E9EDD1;
}

.ver-mas .pressed-btn{
    background-color: #9B8579;
    color: #E9EDD1;
    cursor: no-drop;
}

/*vinos*/
.cont-vinos .vinos-categ .categ-op{
    width: 16.6674%;
    float: left;
    padding: 20px 10px;
    background-color: rgba(172, 209, 122, 0.5);
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid rgb(222, 247, 186);
    cursor: pointer;
}

.cont-vinos .vinos-categ .categ-op:last-child{
    border-right: 0;
}

.cont-vinos .vinos-categ .categ-sel,
.cont-vinos .vinos-categ .categ-op:hover{
    background-color: rgba(172, 209, 122, 1);
}

#content .vinos,
.contenido .equipo{
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.vinos .vino,
.equipo .miembro{
    width: 24%;
    float: left;
    overflow: hidden;
    margin-right: 1.33%;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.vinos .vino figcaption,
.equipo .miembro figcaption{
    position: absolute;
    width: 100%;
    bottom: 20px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    color: #231F20;
}

.vino figcaption .vino-title,
.miembro figcaption .miembro-title{
    font-family: 'open_sansbold';
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px 0;
}

.vino figcaption .vino-vi,
.vino figcaption .vino-prec,
.miembro figcaption .miembro-puesto,
.miembro figcaption .miembro-rs{
    display: none;
    width: 80%;
    margin: 25px 10%;
}

.vino figcaption .vino-prec{
    background-color: #ACD17A;
    color: white;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    padding: 10px 0;
    width: 60%;
    clear: both;
}

.vino figcaption .precio{
    font-family: 'open_sansextrabold';
    font-size: 1.4em;
}

.vino:hover figcaption,
.miembro:hover figcaption{
    height: 100%;
    transition: 0.5s;
    bottom: 5px;
    padding: 20% 0;
}

.vino:hover figcaption .vino-vi,
.vino:hover figcaption .vino-prec,
.miembro:hover figcaption .miembro-puesto,
.miembro:hover figcaption .miembro-rs{
    display: inline-block;
}

/*quienes somos*/
.id-cultural{
    line-height: 1.5em;
    padding: 20px 0;
    margin: 10px 0;
    border-top: 1px solid rgba(35, 31, 32, 0.5);
    border-bottom: 1px solid rgba(35, 31, 32, 0.5);
}

.contenido .equipo{
    padding: 40px 0 10px 0;
}

.miembro figcaption .miembro-rs{
    width: 40%;
    margin: 20px auto;
    position: relative;
}

.miembro .miembro-rs span{
    font-size: 1.5em;
    width: 46%;
    margin-right: 8%;
    float: left;
    padding: 10% 0;
    background-color: #ACD17A;
    border: 1px solid #ACD17A;
    color: white;
}

.miembro .miembro-rs span:hover{
    background-color: #9B8579;
    border: 1px solid #9B8579;
}



/*subfooter*/
.subfooter{
    padding: 40px 0;
    overflow: hidden;
}

.subfooter-40{
    width: 40%;
    float: left;
    padding: 10px 0;
}

.subfooter-40 p{
    text-align: right;
}

.subfooter-40 .searchtxt{
    margin: 5px 0 5px 20%;
    width: 80%;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid white;
}

.subfooter-40 .searchtxt:focus{
    outline: 0;
    border: 1px solid #C2B59B;
}

.subfooter-20{
    width: 20%;
    float: left;
    padding: 15px 0;
}

.subfooter-20 .suscribirbtn{
    width: 60%;
    margin-right: 39%;
    background-color: #9B8579;
    border: 1px solid #9B8579;
    color: white;
    font-family: 'open_sansbold';
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 2px 5px;
    cursor: pointer;
}

.subfooter-20 .suscribirbtn:hover{
    background-color: rgba(0,0,0,0);
    color: #9B8579;
}

/*footer*/

footer{
    overflow: hidden;
    background-color: #A5BC53;
    position: relative;
    bottom: 0;
}

footer .foot-icons{
    width: 40%;
    float: left;
    margin: 0 30%;
    clear: both;
    padding: 10px 0;
}

footer .foot-icons li{
    width: 25%;
    float: left;
    padding: 15px;
    font-size: 2em;
    text-align: center;
}

footer .foot-icons li a{
    color: rgba(255,255,255,0.8);
}

footer .foot-icons li a:hover{
    color: white;
}

footer .foot-end{
    clear: both;
    overflow: hidden;
    padding: 10px 0;
    color: rgba(255,255,255,0.8);
}

footer .footer-49{
    width: 49%;
    float: left;
}

footer .footer-2{
    width: 2%;
    float: left;
    text-align: center;
}

footer .footer-49:first-child{
    text-align: right;
}

footer .footer-49 span{
    margin: 0 2px 0 4px;
}

footer .foot-a{
    color: rgba(255,255,255,0.5);
}

footer .foot-a:hover{
    color: white;
    transition: 1s;
}